@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to DropShipShop</h2>
</div>
<div class="container text-center">
    <h3>Featured Products</h3>
    <div class="row">
        @foreach (var item in Model.FeaturedProducts)
        {
            <partial name="_ProductCardPartial" model="item" />
        }
    </div>

    <div class="row text-center mt-3">
        <div class="col-12">
            @{
                var prevDisabled = !Model.FeaturedProducts.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.FeaturedProducts.HasNextPage ? "disabled" : "";
            }
            <a class="btn btn-primary @prevDisabled" asp-for="./Index" asp-route-PageNum="@(Model.FeaturedProducts.PageIndex - 1)">Previous</a>
            @for (int i = 1; i <= Model.FeaturedProducts.TotalPages; i++)
            {
                var activeNum = Model.PageNum == i ? "btn-light disabled" : "";
                <a asp- class="btn @activeNum" asp-for="./Index" asp-route-PageNum="@i">@i</a>
            }
            <a class="btn btn-primary @nextDisabled" asp-for="./Index" asp-route-PageNum="@(Model.FeaturedProducts.PageIndex + 1)">Next</a>
        </div>
    </div>
</div>
<div class="row text-center mt-5">
    <div class="col-sm-12 col-md-6">
        <h3><a asp-area="" asp-page="/Shop/Index">Start Shopping!</a></h3>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col-sm-12 col-md-6">
            <h3><a asp-area="Identity" asp-page="/Account/Login">Login</a></h3>
            <p><a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
        </div>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <div class="col-sm-12 col-md-6">
            <h3><a asp-area="" asp-page="/Admin/Index">Administrate</a></h3>
        </div>
    }
</div>
