@page "{id:int?}"
@model EshopClient.Pages.Admin.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" role="dialog" id="priceCreate" aria-labelledby="priceCreateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-page-handler="priceCreate" method="post">
                <input type="hidden" asp-for="ProductPrice.ProductId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-header">
                    <h5 class="modal-title" id="priceCreateLabel">Create Product Price</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="ProductPrice.Price" class="control-label"></label>
                        <input asp-for="ProductPrice.Price" class="form-control" />
                        <span asp-validation-for="ProductPrice.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductPrice.Supplier" class="control-label"/>
                        <select asp-for="ProductPrice.SupplierId" asp-items="Model.Suppliers"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<h1>Edit</h1>

<h4>ProductDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductDto.ProductId" />
            <div class="form-group">
                <select asp-for="ProductDto.CategoryId" asp-items="Model.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductDto.Name" class="control-label"></label>
                <input asp-for="ProductDto.Name" class="form-control" />
                <span asp-validation-for="ProductDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="ProductDto.ManufacturerId" asp-items="Model.Manufacturers"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductDto.Published" /> @Html.DisplayNameFor(model => model.ProductDto.Published)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductDto.Featured" /> @Html.DisplayNameFor(model => model.ProductDto.Featured)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProductDto.UnitPrice" class="control-label"></label>
                <input asp-for="ProductDto.UnitPrice" class="form-control" />
                <span asp-validation-for="ProductDto.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDto.Description" class="control-label"></label>
                <input asp-for="ProductDto.Description" class="form-control" />
                <span asp-validation-for="ProductDto.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDto.Summary" class="control-label"></label>
                <input asp-for="ProductDto.Summary" class="form-control" />
                <span asp-validation-for="ProductDto.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrices[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrices[0].Supplier.Name)
                    </th>
                    <th><button class="btn btn-success" data-toggle="modal" data-target="#priceCreate">Create New</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductPrices)
                {
                    <tr>
                        <td>@item.Price</td>
                        <td>@item.Supplier.Name</td>
                        <td>
                            <form method="post" asp-page-handler="PriceDelete" asp-route-supplierId="@item.SupplierId" asp-route-productId="@item.ProductId">
                                <input type="submit" value="Delete" class="btn btn-danger"/>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
