@page
@model EshopClient.Pages.Admin.Orders.IndexModel

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].AmountTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountTotal)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.OrderId">Show</a>
                </td>
            </tr>
        }
        @{ 
            var saleTotal = Model.Orders.Sum(o => o.AmountTotal);
            var costTotal = Model.Orders.Sum(o => o.OrderLines.Sum(l => l.ProductUnitCostPrice * l.Quantity));
            var profitTotal = saleTotal - costTotal;
        }
        <tr>
            <td></td>
            <td></td>
            <td><strong>Total Sale: @saleTotal</strong></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><strong>Total Cost: @costTotal</strong></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><strong>Total Profit: @profitTotal</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>