@page "{CategoryId:int?}"
@model EshopClient.Pages.Shop.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-12 offset-md-3 col-md-9">
        <form>
            <p>
                Order: <select asp-for="OrderBy" asp-items="Html.GetEnumSelectList(typeof(ProductsOrderBy))">
                            <option value="">Order By..</option>
                        </select>
                Manufacturer: <select asp-for="ManufacturerName" asp-items="Model.Manufacturers">
                    <option value="">All</option>
                </select>
                Product Name: <input type="text" asp-for="Name" />
                <input type="submit" value="Filter" class="btn btn-primary" />
            </p>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-3">
        @await Component.InvokeAsync("CategoryTree")
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <partial name="_ProductCardPartial" model="item" />
            }
        </div>
        <div class="row text-center mt-3">
            <div class="col-12">
                @{
                    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
                }
                <a class="btn btn-primary @prevDisabled" asp-for="./Index" asp-route-PageNum="@(Model.Products.PageIndex - 1)" asp-route-Name="@Model.Name" asp-route-ManufacturerName="@Model.ManufacturerName">Previous</a>
                @for (int i = 1; i <= Model.Products.TotalPages; i++)
                {
                    var activeNum = Model.PageNum == i ? "btn-light disabled" : "";
                    <a asp- class="btn @activeNum" asp-for="./Index" asp-route-PageNum="@i" asp-route-Name="@Model.Name" asp-route-ManufacturerName="@Model.ManufacturerName">@i</a>
                }
                <a class="btn btn-primary @nextDisabled" asp-for="./Index" asp-route-PageNum="@(Model.Products.PageIndex + 1)" asp-route-Name="@Model.Name" asp-route-ManufacturerName="@Model.ManufacturerName">Next</a>
            </div>
        </div>
    </div>
</div>
